@model IEnumerable<ITunesWebApp.Models.SearchItem>
<h3>
    Search iTunes
</h3>
@*@using (Ajax.BeginForm("Index", "Home", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "AllSearchItems" }))
{
    <input id="SearchBox" type="text" name="value" />
    <input id="submit" type="submit" name="Search" />
}
<div id="AllSearchItems">
    @Html.Partial("Detail", Model)
</div> *@

